:root {
  // PRIMARY
  --mat-primary: rgb(43, 76, 165);
  --mat-primary-mlight: #4ccb4cb7;
  --mat-primary-light: rgb(142, 255, 193);
  --mat-primary-xlight: #8ae58a38;
  --mat-primary-dark: rgb(0, 156, 65);
  --mat-primary-xdark: rgb(0, 98, 41);
  // ACCENT
  --mat-accent: #4866ff;
  --mat-accent-light: #6982fc;
  --mat-accent-dark: #001995;
  // OTHER
  --mat-commentary-grey: rgb(80, 80, 80);
  // BLUE
  --mat-blue: #0029FF;

}
